body {
	margin:0px;
	padding:0px;
	font:30px Arial,宋体;
	text-align:center;
	background: url(../img/xidian_bg.jpg) repeat-x;
	width: 100%;
}
.controls input {
	height: 30px;
}
#container{
	margin-left:auto;
	margin-right:auto;
	width:800px;
	text-align:left;
}
.top{
	width: 1000px;
margin: 0 auto;
background: url(../img/xidian_top.jpg) no-repeat;
height: 122px;
border-left: 1px solid #afafaf;
border-right: 1px solid #afafaf;
}
#topimg{

}
.logo {position: relative;
width: 283px;
height: 54px;
padding: 22px 0 0 15px;
float: left;
}
.hero-unit{
	background: none;
}